@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.a-section--container {
  @apply space-y-[1.5rem];
}
.a-text--title {
  @apply text-[1.5rem] text-neutral-800 font-semibold flex items-baseline gap-4;
}

.a-text--sidebar {
  @apply text-[1.4rem] text-neutral-700 font-medium py-[.5rem] px-4 rounded-[.7rem] flex items-baseline gap-4 hover:bg-neutral-100 active:bg-neutral-100;
}

.a-text--section {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}
.a-section--title {
  @apply text-[1.4rem] font-medium;
}

.a-text--body {
  @apply text-[1.4rem] leading-[2rem] text-neutral-700;
}

.a-text--sub {
  @apply text-[1.4rem] leading-[2rem] italic text-neutral-600;
}

.a-section--box {
  @apply border border-[#e3e3e3] bg-white pt-6 pb-7 px-6 rounded-[1rem] space-y-2;
}

.a-text--label {
  @apply text-[1.4rem] block;
}

.a-input {
  @apply w-full bg-white border border-neutral-300 text-[1.4rem] font-medium py-[.5rem] px-4 rounded-[.5rem] block;
}

.a-text--warning {
  @apply text-[1.2rem] font-medium bg-yellow-50 text-yellow-700 py-2 px-4 rounded-[.3rem] cursor-pointer transition;
}

.a-text--error {
  @apply text-[1.2rem] font-medium text-red-700 bg-red-50 py-1.5 px-4 rounded-[.3rem] cursor-pointer transition;
}

.a-text--button {
  @apply text-[1.3rem] font-medium capitalize py-2 px-4.5 rounded-[.2rem] cursor-pointer transition;
}

.a-text--table-section-head {
  @apply font-medium capitalize text-[1.4rem] leading-[1.8rem];
}

.a-text--table-head {
  @apply font-medium capitalize text-[1.4rem] text-neutral-400 leading-[1.8rem];
}

.a-text--table-data {
  @apply text-[1.4rem] leading-[2rem] font-medium;
}

.a-shimmer-animation {
  animation: shimmer-anime 2s infinite;
}

@keyframes shimmer-anime {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(100%);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
